.jumbotron{
    margin-top: 50px;
    width: 700px;
    padding: 30px;
    text-align: center;
    height: auto;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px -6px #777;
    -moz-box-shadow: 0 5px 10px -6px #777;
    box-shadow: 0 5px 10px -6px #777;
}

.jumbotron-content{
    margin-bottom: 20px;
}

.progress{
    margin-top: 30px;
    height: 30px;
}
