.wrapper{
    /* background-color: lightsteelblue;
    height: 100%; */
}

.table-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 40px;
    margin-top: 40px;
    max-width: 30%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.page-title{
    text-align: center;
    margin-bottom: 30px;
}

.table{
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#login-button{
    width: 100%;
    /* font-weight: bold; */
}
