#sizing-form {
    width: 500px;
    height: auto;
    padding: 30px;
    margin: 20px;
    color: black;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;
}

#image-dimensions {
    margin-top: 10px;
    margin-bottom: 15px;
}

#image-height-input {
    margin-bottom: 15px;
}

#floater-radio{
    margin-bottom: 15px;
}

#radio-container {
    display: flex;
}

#no {
    margin-right: 5px;
}

#yes {
    margin-right: 5px;
}

#yes2 {
    margin-right: 5px;
}

#image-width-input {
    margin-bottom: 15px;
}

#frame-depth-input {
    margin-bottom: 15px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

p {
    font-weight: bold;
}