.table-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    margin-top: 40px;
    max-width: 80%;
}

.page-title{
    text-align: center;
    margin-bottom: 30px;
}